.containerCreatePet form {
  background: var(--color-white);
  width: 560px;
  padding: 30px 20px;
  border-radius: 10px;
}

.containerCreatePet form h4 {
  color: var(--color-tertiary);
  border-bottom: 1px solid var(--color-background);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.containerCreatePet form .containerBoxInput {
  margin-bottom: 40px;
}

.containerCreatePet form .boxInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 25.9px;
}

.containerCreatePet form .boxInput label {
  font-size: 1.5rem;
}

.containerCreatePet form .boxInput .containerInputFile {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.containerCreatePet form .boxInput .containerInputFile #labelFile {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 9.2px 19.5px;
  border-radius: 10px;
  cursor: pointer;
}

.containerCreatePet form .boxInput .containerInputFile img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  padding: 10px;
  border: 1px solid #e6567a91;
  border-radius: 20px;
}

.containerCreatePet form .boxInput label span {
  color: #de0505;
}


.containerCreatePet form .buttonInput button {
  background: var(--color-second);
  color: var(--color-white);
  width: 100%;
  padding: 7.5px;
  border-radius: 10px;
  font-size: 1.7rem;
  text-align: center;
  border: none;
}

.containerCreatePet form .alertError{
  color: #ff0505bf;
  margin: 10px;
}

@media (max-width: 656px){
  .containerCreatePet form {
    width: 100%;
    border-radius: 0;
    padding: 30px 40px;
  }

  .containerCreatePet form .boxInput .containerInputFile {
    flex-direction: column;
  }

  .containerCreatePet form .boxInput .containerInputFile #labelFile {
    margin: 10px 0 20px 0;
  }
}