.card {
  width: 320px;
  background: var(--color-white);
  border-radius: 10px;
}

.card .photoPet {
  width: 100%;
  height: 320px;
}

.card .photoPet .emptyPhotoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .photoPet img.photoPet {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.card .informationPet {
  padding: 12px 20px;
}

.card .informationPet .name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2.6rem;
  color: var(--color-tertiary);
}

.card .informationPet .owner {
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.card footer {
  border-top: 1px solid;
  padding-top: 14.4px;
  margin-top: 10px;
}

.card footer .SocialItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card footer .SocialItem img {
  margin-right: 7.9px;
  width: 21.9px;
}

.card footer .SocialItem a {
  font-size: 1.1rem;
  color: #6A7CDA;
}

/* modal  */
.modalPhoto {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000a1;
}

.modalPhoto .containerModal {
  width: 100%;
  max-width: 620px;
  height: 530px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.modalPhoto .containerModal button{
  background: no-repeat;
  border: none;
  position: absolute;
  right: 20px;
  top: 10px;
}

.modalPhoto .containerModal button img {
  width: 20px;
}

.modalPhoto .containerModal > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media (max-width: 411px){
  .card {
    width: 100%;
  }

  .card .photoPet img.photoPet {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card footer .SocialItem {
    max-width: 335px;
    overflow: hidden;
  }
}

@media (max-width: 439px) {
  .modalPhoto .containerModal{
    padding: 40px 20px 20px 20px;
  }
}