header {
  padding: 20px 0;
  background-color: var(--color-white);
}

header .container {
  max-width: 1290px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo img {
  width: 100px;
}

header .container .button a {
  background-color: var(--color-primary);
  border: none;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .container .button a img {
  width: 20px;
}

@media (max-width: 1341px){
  header .container{
    padding: 0 40px;
  }
}