.containerDetailsPet main .container {
  max-width: 1290px;
  margin: auto;
  background: url('../../assets/backgroundLeft.svg')left 30px/100px no-repeat,
  url('../../assets/BackgroundRight.svg')right  30px/100px no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
